<!DOCTYPE html>
<html>
<head>
	<title>Hub</title>

	<link rel="stylesheet" type="text/css" href="/resources/cmp/css/main.css" />
	<script src="/resources/cmp/js/vendor.js" type="text/javascript"></script>
</head>
<body>

	<div id="hub" ng-controller="hub as vm">
		<main id="main">
			<section id="header">
				<nav head-bar="auth" ng-if="vm.user"></nav>
				<nav head-bar="unauth" ng-if="!vm.user"></nav>
			</section>
			<section id="content">
				
			</section>
			<section id="footer">
				
			</section>
		</main>
		<section id="sidebar">
			<nav side-bar="auth" ng-if="vm.user"></nav>
			<nav side-bar="unauth" ng-if="!vm.user"></nav>
		</section>
		<!-- <mp-player></mp-player> -->
	</div>

	<script src="/resources/cmp/js/main.js" type="text/javascript"></script>
	<script src="/resources/cmp/js/app.js" type="text/javascript"></script>
</body>
</html>